
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<div class="container">
    <div class="row mt-3" id="phan1">
        <div class="col-md-11 text-center">
            <span><b>Từ ngày</b> </span>
            <input type="date" id="start" min="01-07-2020" value="2020-07-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="mr-1">
            <span><b>Đến ngày</b> </span>
            <input type="date" id="end" min="01-07-2020" class="mr-1" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            <input type="submit" value="Tìm kiếm" onclick="TimKiem()" />
        </div>
        <div align="right" class="col-md-1">
            <button onclick="printout()"><i class="fa fa-print" aria-hidden="true"></i></button>
        </div>
    </div>
    <div align="left" id="tieuDe" style="display:none">
        <h3>Cửa hàng T&T Coffee</h3>
        <h4>322 Đường 23/10, thành phố Nha Trang, Khánh Hòa</h4>
        <h4>Điện thoại: 0934 883 667</h4>
    </div>
    <h3 class="text-center mt-3">BÁO CÁO DOANH SỐ</h3>
    <h4 class="text-center mt-1" id="thoiGian"></h4>
    <div style="overflow-y: scroll;height:400px" id="output">
        <table class="table table-bordered">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Tên Sản phẩm
                </th>
                <th>
                    Số lượng bán
                </th>
                <th>Đơn vị tính</th>                                
            </tr>
            @if (ViewBag.TENSP != null)
            {
                foreach (var item in ViewBag.TENSP)
                {
                    <tr>
                        <td>
                            @{ i++;}
                            @i
                        </td>

                        <td>@item</td>
                        <td>@ViewBag.SL[item]</td>
                        <td>@ViewBag.DVT[item]</td>
                    </tr>
                }

                @*<tr>
                    <td></td>
                    <td>Tổng cộng:</td>
                    <td><b>@ViewBag.Tong</b></td>
                    <td><b>@ViewBag.Giam</b></td>
                    <td><b>@ViewBag.ThanhToan</b></td>
                </tr>*@


            }
        </table>
    </div>
    <div align="right" id="footer" style="display:none">
        <h3>Nha Trang, ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year</h3>
        <h4 style="margin-right:155px;margin-bottom:100px;">NGƯỜI LẬP</h4>
        <h5 style="margin-right:190px;">(<i>Đã kí</i>)</h5>
    </div>
</div>
<script>
    function printout() {

        $("#phan1").hide();
        $("#output").css("overflow-y", "hidden");
        $("#tieuDe").show();
        $("#footer").show();
        $("#output").css("height", "auto");
        window.print();
        $("#tieuDe").hide();
        $("#phan1").show();
        $("#footer").hide();
        $("#output").css("overflow-y", "scroll");
        $("#output").css("height", "400px");
    }

     var TimKiem = function () {
        var tuNgay = $("#start").val();
        var denNgay = $("#end").val();

        if (tuNgay <= denNgay) {
            window.location.href = "/BaoCaoDoanhSo/TimKiem?tuNgay=" + tuNgay + "&denNgay=" + denNgay;
        } else {
            alert("Hãy kiểm tra ngày của bạn!")
            window.location.href = "/BaoCaoDoanhSo/Index";
        }

    }
    $(document).ready(function () {

        if ($("#start").val() != NaN && $("#end").val() != NaN) {
            hienThi($("#start").val(), $("#end").val());
        }
        if ($("#start").val() <= $("#end").val()) {
            hienThi("@Session["tuNgayDS"]", "@Session["denNgayDS"]")
        }

    })
        var hienThi = function (tuNgay, denNgay) {

            var tuNgay = new Date(tuNgay);
            var denNgay = new Date(denNgay);
            var x = "";
            var y = "";

            if (tuNgay.getDate() <= 9 && tuNgay.getMonth() <= 9) {
                $("#start").val(tuNgay.getFullYear() + "-0" + (tuNgay.getMonth() + 1) + "-0" + tuNgay.getDate());
                x = tuNgay.getDate() + "/0" + (tuNgay.getMonth() + 1) + "/" + tuNgay.getFullYear();

            }
            if ((tuNgay.getDate() >= 9 && tuNgay.getMonth() >= 9)) {
                $("#start").val(tuNgay.getFullYear() + "-" + (tuNgay.getMonth() + 1) + "-" + tuNgay.getDate());
                x = tuNgay.getDate() + "/" + (tuNgay.getMonth() + 1) + "/" + tuNgay.getFullYear();

            }
            if (tuNgay.getMonth() <= 9 && tuNgay.getDate() >= 9) {
                $("#start").val(tuNgay.getFullYear() + "-0" + (tuNgay.getMonth() + 1) + "-" + tuNgay.getDate());
                x = tuNgay.getDate() + "/0" + (tuNgay.getMonth() + 1) + "/" + tuNgay.getFullYear()

            }
            if (tuNgay.getDate() <= 9 && tuNgay.getMonth() >= 9) {
                $("#start").val(tuNgay.getFullYear() + "-" + (tuNgay.getMonth() + 1) + "-0" + tuNgay.getDate());
                x = tuNgay.getDate() + "/" + (tuNgay.getMonth() + 1) + "/" + tuNgay.getFullYear();
            }
            if (denNgay.getDate() <= 9 && denNgay.getMonth() <= 9) {
                $("#end").val(denNgay.getFullYear() + "-0" + (denNgay.getMonth() + 1) + "-0" + denNgay.getDate());
                y = denNgay.getDate() + "/0" + (denNgay.getMonth() + 1) + "/" + denNgay.getFullYear();
            }
            if ((denNgay.getDate() >= 9 && denNgay.getMonth() >= 9)) {
                $("#end").val(denNgay.getFullYear() + "-" + (denNgay.getMonth() + 1) + "-" + denNgay.getDate());
                y = denNgay.getDate() + "/" + (denNgay.getMonth() + 1) + "/" + denNgay.getFullYear();
            }
            if (denNgay.getMonth() <= 9 && denNgay.getDate() >= 9) {
                $("#end").val(denNgay.getFullYear() + "-0" + (denNgay.getMonth() + 1) + "-" + denNgay.getDate());
                y = denNgay.getDate() + "/0" + (denNgay.getMonth() + 1) + "/" + denNgay.getFullYear();
            }
            if (denNgay.getDate() <= 9 && denNgay.getMonth() >= 9) {
                $("#end").val(denNgay.getFullYear() + "-" + (denNgay.getMonth() + 1) + "-0" + denNgay.getDate());
                y = denNgay.getDate() + "/" + (denNgay.getMonth() + 1) + "/" + denNgay.getFullYear();
            }
            $("#thoiGian").text("Từ ngày " + x + " đến ngày " + y);
        }
</script>


